<h1>All Courses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <% if !current_user.courses.include? course%>
          <td><%= link_to 'Add to My Courses', "/add_course/#{course.id}" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
