<h1>All Rubrics</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rubrics.each do |rubric| %>
      <tr>
        <td><%= rubric.name %></td>
        <% if !current_user.rubrics.include? rubric%>
          <td><%= link_to 'Add to My Rubrics', add_rubric_path(rubric) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
